<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Tahoma, Verdana, sans-serif;">
    <tr>
	<td style="height: 105px; padding-left: 20px; background-color: #c6c6c6; font-size: 16px; font-weight: bold; color: #FFF;">
	    <img src="cid:logo_desmadre" border="0" />
	</td>
    </tr>
    <tr>
	<td style="height: 10px;"></td>
    </tr>
    <tr>
	<td style="font-size: 12px; padding:20px;">
	    <div style="padding-bottom: 20px;">Holaaaaaaaaaaa <b>#userName#</b></div>
	    <div style="padding-bottom: 10px;">Te damos la bienvenida a Desmadre, gracias por elegirnos! Abajo están los datos que necesitas para acceder al sistema de gestión de Desmadre. Allí podrás ver el estado de tu cuenta con información actualizada de tus productos y las ventas realizadas.</div>
	    <div style="padding-bottom: 10px;">Recordá que en Desmadre, podés solicitar el pago de las ventas y cobrar de forma inmediata en efectivo o tenés la opción de crédito a cuenta para consumir en nuestra tienda.</div>
	    <div style="padding-bottom: 10px;"><b>URL:</b> <a href="#siteURL#">#siteURL#</a></div>
	    <div style="padding-bottom: 10px;"><b>Usuario:</b> #userUser#</div>
	    <div style="padding-bottom: 20px;"><b>Contraseña:</b> #userPass#</div>
	    <div style="padding-bottom: 40px;">Te recomendamos tener a mano esta información.</div>
	    <div style="padding-bottom: 10px;">Este mail se envía de forma automática, no lo respondas. Si necesitas comunicarte con nosotros podes hacerlo por privado a nuestro Instagram <a href="https://www.instagram.com/desmadre.ar/">Desmadre</a> o por whatsapp al 351 3987317.</div>
	</td>
    </tr>
</table>