<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Tahoma, Verdana, sans-serif;">
    <tr>
		<td style="height: 105px; padding-left: 20px; background-color: #c6c6c6; font-size: 16px; font-weight: bold; color: #FFF;">
		    <img src="cid:logo" border="0" />
		</td>
    </tr>
    <tr>
		<td style="height: 10px;"></td>
    </tr>
    <tr>
		<td style="font-size: 12px; padding:10px 0;">
		    <div style="padding-bottom: 20px;"><b>Estimado/a #user_name#:</b><br /><br />
 			Nos comunicamos con vos para contarte que el día de ayer se produjeron las siguientes novedades en tus productos.<br /><br />
			</div>
		</td>
    </tr>
    <tr>
		<td style="font-size: 12px; padding:10px 0;">
		    <div style="padding-bottom: 20px;">#products#</div>
		</td>
    </tr>
    <tr>
		<td style="font-size: 12px; padding:10px 0;">
		    <div style="padding-bottom: 20px;">Este mail se envía de forma automática, no lo respondas. Si necesitas comunicarte con nosotros podes hacerlo por privado a nuestro Instagram <a href="https://www.instagram.com/letitgo.kids/">Desmadre</a> o por whatsapp al 351 748-5060.</div>
		</td>
    </tr>
</table>